@model IEnumerable<AuthenticationTest.Models.Team>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

@if (ViewBag.invites != null)
{
    @foreach (var invite in ViewBag.invites)
    {
        <form asp-action="RespondToInvite">
            <div class="card">
                <div class="card-body">
                    You have been invited to a team, @invite.Team.Name would like you to join their team.<br />
                    <div class="form-group">
                        <input type="hidden" name="id" value="@invite.Id" />
                        <input type="submit" class="btn btn-interact" name="submit" value="Accept" />
                        <input type="button" class="btn btn-back" name="submit" value="Decline" />
                    </div>
                </div>

            </div>
        </form>
    }
}

<div class="header">
    <h1>Current Teams</h1>
</div>

@if (User.IsInRole("Student"))
{
    <p>
        <a asp-action="Create" class="btn btn-interactsecondary">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
                    @foreach (var item in Model)
                    {
                        if (item.TeamLeaderEmail == ViewBag.email)
                        {
                            <tr class="card">
                                <td class="container">
                                    @Html.DisplayFor(modelItem => item.Name)
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-interact">Edit</a> 
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-interact">Details</a> 
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-interact">Delete</a>
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-interact">Details</a>
                                </td>
                            </tr>
                        }
                    }
    </tbody>
</table>
